<!doctype html>
<html lang='en'>

<head>
	<title>Project 11</title>
	<meta charset='utf-8'>

	<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
	<script src='script.js' defer></script>
	<script src='helperClasses.js' defer></script>

	<style>
		[v-cloak] {
			display: none;
		}

		body {
			font-family: courier
		}

		table {
			border: 1px solid black
		}
	</style>
</head>

<body>
	<h1>Project 1</h1>

	<div id='app' v-cloak>
		<table>
			<tr v-for="(row, rowKey) in gameBoard" :key="rowKey">
				<td v-for="(column, columnKey) in row" :key="columnKey" v-on:click="toggleCell(rowKey, columnKey)">
					{{column}}
				</td>
			</tr>
		</table>
		<p>
			<button v-on:click='addRandom(100)'>Add Random</button>
			<button v-on:click='resetBoard()'>Reset</button>
			<button v-on:click='playGame()'>Start</button>
			<button v-on:click='stopGame()'>Stop</button>
			<button v-on:click='nextFrame()'>Next</button>
		</p>
		<p>Generation: {{generation}}</p>
	</div>

</body>

</html>